In [2]:
from amb import *
import pandas as pd

In [3]:
region = get_major_region_palette()
df = pd.DataFrame(list(region.items()), columns=['Region', 'Color']).set_index('Region')
df.to_csv(f'palette/MajorRegion.csv')
df.head()

                         Color
Region
Frontal_Cortex         #cea97e
Anterior_Hippocampus   #e8a57d
Posterior_Hippocampus  #6f2632
Entorhinal_Cortex      #d878b2
Nucleus_accumbens      #F3C8E8

In [12]:
region = get_dissection_region_palette()
df = pd.DataFrame(list(region.items()), columns=['DissectionRegion', 'Color']).set_index('DissectionRegion')
df.to_csv(f'palette/DissectionRegion.csv')
df.head()

                     Color
DissectionRegion
ACB-1              #DDD2F4
ACB-1+ACB-2        #E8C8F5
ACB-2              #FFD2FC
AMY-1              #508eda
AMY-1+AMY-2+AMY-3  #32A0C7

In [6]:
age = get_age_palette()
df = pd.DataFrame(list(age.items()), columns=['Age', 'Color']).set_index('Age')
df.to_csv(f'palette/Age.csv')
df.head()

        Color
Age
2mo   #480080
9mo   #e23c5d
18mo  #ffb42c

In [8]:
cell_class =get_cell_class_palette()
df = pd.DataFrame(list(cell_class.items()), columns=['CellClass', 'Color']).set_index('CellClass')
df.to_csv(f'palette/CellClass.csv')
df.head()

             Color
CellClass
Gaba       #0000FF
Glut       #FFA500
NN         #006400
Glut-Sero  #FF0000
PAG-PCG    #00FFFF

In [9]:
celltype = get_cell_type_palette()
df = pd.DataFrame(list(celltype.items()), columns=['CellType', 'Color']).set_index('CellType')
df.to_csv(f'palette/CellType.csv')
df.head()

                         Color
CellType
HPF CR Glut            #6580d2
CEA-AAA-BST Ebf1 Gaba  #693724
CLA-EPd-CTX Car3 Glut  #53a9c1
L6b/CT ENT Glut        #789cd8
CA2-FC-IG Glut         #63bf9f

In [10]:
modality = get_modality_palette()
df = pd.DataFrame(list(modality.items()), columns=['Modality', 'Color']).set_index('Modality')
df.to_csv(f'palette/Modality.csv')
df.head()

            Color
Modality
mCH       #16499D
mCG       #36AE37
m3C       #E71F19
RNA       #7D4195
ATAC      #EF7D1A