In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [3]:
rna_dir = '/data/female-amb/Diff.Result/luisa_deg'
ct = 'DG_Glut'

In [15]:
all_df = []

for fp in glob.glob(f"{rna_dir}/*"):
    ct = fp.split('/')[-1].split('.')[0]
    df = pd.read_csv(f'{rna_dir}/{ct}.csv', index_col=0)
    if 'Ctcf' in df.index:
        df['log2(age/young)'] = -df['avg_log2FC']
        df['ct'] = ct
        tmpdf = df.loc[['Ctcf']]
        all_df.append(tmpdf)
all_df = pd.concat(all_df)

In [21]:
all_df[all_df['p_val_adj'] < 0.05]['ct'].values

array(['DG_Glut', 'L23_IT_CTX_Glut', 'L5_IT_CTX_Glut', 'L6_CT_CTX_Glut'],
      dtype=object)

In [11]:
df.loc[['Ctcf']]

             p_val  avg_log2FC  pct.1  pct.2     p_val_adj  log2(age/young)
Ctcf  5.147226e-25    0.172137  0.238  0.195  1.336940e-20        -0.172137