In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import numpy as np
from scipy import stats

plt.rcParams['figure.dpi'] = 100
plt.rcParams['savefig.dpi']=300
plt.rcParams['pdf.fonttype']=42

In [2]:
ct = 'OPC_NN'
_dir = '/home/qzeng/project/aging/240518_redo_aDMG'

In [3]:
rna_df = pd.read_csv(f"{_dir}/DEGs/{ct}.csv", index_col = 0)
rna_df['log2(Aged/Young)'] = -rna_df['avg_log2FC']
rna_df.head()

,p_val,avg_log2FC,pct.1,pct.2,p_val_adj,log2(Aged/Young)
Nr6a1,5.488689e-155,-1.752197,0.129,0.391,1.425632e-150,1.752197
Ralyl,8.777789e-87,-0.515447,0.923,0.968,2.279943e-82,0.515447
C130073E24Rik,5.398731e-63,-1.099691,0.160,0.327,1.402267e-58,1.099691
Gpc5,7.883704e-60,-0.368078,0.944,0.977,2.047713e-55,0.368078
Skap2,7.243625e-50,-2.407051,0.017,0.089,1.881459e-45,2.407051

In [4]:
sox_genes = []
for _gene in rna_df.index:
    if _gene.startswith('Sox'):
        sox_genes.append(_gene)
sox_genes

['Sox5', 'Sox2ot', 'Sox11', 'Sox8', 'Sox2', 'Sox10', 'Sox4']

In [5]:
rna_df.loc[sox_genes]

               p_val  avg_log2FC  pct.1  pct.2  p_val_adj  log2(Aged/Young)
Sox5    2.377277e-09   -0.155753  0.782  0.822   0.000062          0.155753
Sox2ot  5.124044e-09   -0.117685  0.903  0.933   0.000133          0.117685
Sox11   4.832284e-03    0.513095  0.060  0.044   1.000000         -0.513095
Sox8    5.810267e-03    0.252876  0.171  0.152   1.000000         -0.252876
Sox2    2.103639e-02   -0.234075  0.091  0.110   1.000000          0.234075
Sox10   3.832149e-02    0.107628  0.342  0.320   1.000000         -0.107628
Sox4    5.613311e-01    0.119700  0.091  0.083   1.000000         -0.119700